*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MARK: HEADER*/
/* CSS voor de header en navigatiebar */
header {
    display: flex; /*elementen in de header gaan flexen*/
    /* justify-content:space-between; geeft spacing tussen de items */
    align-items:center; /* Zorgt ervoor dat alle items in de header verticaal gecentreerd worden binnen de hoogte van de header. */
    top:0; /* Geeft aan dat de header zich aan de bovenkant van het scherm blijft wanneer hij 'sticky' is. */
    background-color: var(--white);
    height: 4em;
    @media (min-width:46em) {
        display: flex;
        flex-wrap: wrap;
        
        button {
            display: none; /*Op een width van 48em (736px) passen alle menubalk knoppen. Op dat moment is de menbalk-icoon niet meer nodig. Deze wordt hiermee verborgen*/
        }
        nav button {
            display: none;
        }    
    }
}

header div {
	margin-inline:auto;
    @media (min-width:46em) {
        display: flex;
        margin-inline-start: 0;
        flex-direction: column;
    }
}

header div p {
	display:none; /*Tekst 'podium voor journalisten' wordt niet weergegeven in mobiel scherm*/
}

.search-button {
    display: flex;
    flex-direction: column; /*zorgt ervoor dat de zoek tekst onder de svg wordt geplaatst*/
    padding-right: .4em;
    
}

.button--menu-open {
	order:-1; /*Menu  svg wordt naar links geplaatst*/
    display: flex;
    flex-direction: column; /*zorgt ervoor dat de menu tekst onder de svg wordt geplaatst*/
    padding: 1em;
    @media (min-width: 46em) {
        display: none;
    }
}


/* CSS voor navigatie */
nav {
    position: fixed;
    left:0; /*navigatiebar beslaat gehele scherm*/
    right:0;
    top:0;
    bottom:0;
    translate:-100% 0%; /*de navigatiebar uit beeld schuiven met translate. De nav beweegt zijn eigen breedte 100% naa links.*/
    transition: translate .3s; /*Menu komt binnen .3sec in beeld*/
    background-color: var(--white);
    @media (min-width: 46em) { /*De nav weer op zijn ‘normale’ plek zetten als het scherm groter wordt*/
        translate:unset;
        padding:0;
        display: contents;
        }
}

nav .sub-nav {
    padding-left: 2em;
    padding-top: 2em;
    background-color: var(--white);
    @media (min-width: 46em) {
        display: flex; /* Flexbox zorgt ervoor dat de lijstitems naast elkaar worden geplaatst */
        justify-content: flex-end; /* De content wordt aan de rechterkant uitgelijnd */
        gap: 1em; /* Er is een ruimte van 1em tussen de items */
        width: 100%;
        background-color: var(--black); /*Zwarte achtergrondkleur voor de eerste navigatiebalk: variabel uit de gezamenlijke stylesheet */
        top: 10px;
        padding-top: 0; /*Padding-top op 0 bij groot scherm*/
        order: -2; /*order wordt aangepast waardoor de tweede navigatiebalk naar boven gaat*/
    }
}

nav .sub-nav a {
    text-decoration: none;
    color:var(--black); 
    font-family: var(--font-default); 
    font-size: var(--font-size-menu);
    @media (min-width: 46em) {
        display: flex;
        justify-content: right;
        color: var(--white); 
        line-height: 3em; /* De hoogte van de tekstregel is 3em voor verticale uitlijning */
        font-size: var(--font-size-meta); /* De tekengrootte is 11px */
        text-decoration: none; /* Onderstreping van de tekst is uitgeschakeld */
        font-family: var(--font-default);  /* Lettertype wordt bepaald door de variabel uit de gezamenlijke stylesheet  */
        margin-right: 1em; /* Voegt ruimte toe aan de rechterkant van de svg */
    
    }
    
}



ul {
    list-style: none; /*Verwijdert standaard styling van de list*/
}

.main-nav {
    padding-left: 2em;
    text-decoration: none; /* De links in de tweede navigatiebalk hebben geen onderstreping */
    color: black;
    line-height: 2.5em;
    font-family: "Inter", sans-serif; /* Tekst wordt weergegeven in het Inter-lettertype, 13px groot */
    font-size: var(--font-size-meta);
    @media (min-width: 46em) {
        border: solid #fff .5px; /* Witte tweede navigatiebalk met een lichte grijze rand, */
        background-color: var(--white);
        margin-top: .5em;
    }
}
.main-nav a{
    text-decoration: none; /* De links in de tweede navigatiebalk hebben geen onderstreping */
    color: black;
    line-height: 2.5em;
    font-family: "Inter", sans-serif; /* Tekst wordt weergegeven in het Inter-lettertype, 13px groot */
    font-size: 13px; 
}

nav ul.main-nav {
    @media (min-width: 46em) {
        display: flex;
        justify-content: center; /*lijstitems worden gecentreerd met een ruimte van 1em tussen de items */
        gap: 1em; 
        order: 1;
        width: 100%;
        border: solid #E1E1E1 .5px; /* Witte tweede navigatiebalk met een lichte grijze rand, */
    }
}

nav.toonMenu { /*aangemaakte class in javascript*/
    translate: 0% 0%; /*Menu komt in beeld*/
}

/* CSS voor de logo */
div {
    display: flex;
    flex-grow: 1;
    align-items:center; 
    @media (min-width: 46em) {
        background-color: var(--white);
        /* width: 100%; neemt gehele scherm in beslag: was niet meer nodig zodat search en doneren naar rechts zouden gaan*/
        margin-top: 1em;
        /* margin-left: 1.1em; */
        align-items: unset; /*Logo en ondertitel komen aan de linkerkant te staan om bovenstaande align-itemns te overschrijden*/
        padding: 1em; /*kleine padding vanuit de boven en zijkanten*/
    }
}
.logo-link {
    margin-inline: auto; /*wordt toegepast om een element horizontaal te centreren in zijn container. Voor nu gebruikt om de logo te centreren in mobiele versie*/
    @media (min-width: 46em) {
        margin-inline: unset; /*door de margin-inline op unset te zetten kan */
        /* grid-area: logo; */
    }
}

.logo-above {
    /* flex-grow:1; na een code-review bleek dat flex-grow ervoor zorgt dat de logo niet in het midden komt te staan */
    justify-content:center;
    padding: 0;
    @media (min-width: 46em) {
        padding-left: 1.4em;
    }
}

.ondertitel-logo {
    display: none;
    @media (min-width: 46em) {
        display: block;
        font-family: var(--font-default);
        font-size: var(--font-size-meta);
        text-transform: uppercase; 
        color: var(--black-opacity);
    }
    
}

.button-doneren {
    display: none;
    @media (min-width: 46em) {
        display: block;
        align-items: right;
        padding: 1em;
    }
}

.search-button {
    @media (min-width: 46em) {
        align-content: right;
        font-family: var(--font-default);
        font-size: var(--font-size-meta);
        text-transform: uppercase; 
        color: var(--black-opacity);
    }
}

/* MARK: MAIN */
/* CSS voor de main */

.frontpage-news {
    padding: 1em 1em 0 1em; /*De hoofdsectie heeft padding aan de boven-, rechter- en linkerzijde: met de klok mee:*/
    display: grid; /* Grid lay-out voor de main section */
    grid-template-areas: 
    "p1"
    "p2"
    "img2";
    grid-template-columns:minmax(1rem 1fr) ;
    @media (min-width: 46em) {
        display: grid; /* Grid lay-out voor de titelsectie met vier rijen en drie kolommen */
        grid-template-rows: min-content;
        grid-template-areas: /*grid template areas voor de tekst en img */
        "text1 img"
        "text2 img"
        "text3 img"
        "text4 img";
        row-gap: .7em; /* Ruimte tussen rijen */
        column-gap: 4em; /* Ruimte tussen kolommen */
        padding: 14em 7em 6em 6em;
    } 
}

.category-frontpage {
    grid-area: p1;
    text-align: center;
    font-family: var(--font-default); /* Lettertype bepaald door variabel uit de gezamenlijke stylesheet */
    font-size: var(--font-size-menu); /* Lettergrootte bepaald door variabel uit de gezamenlijke stylesheet */
    color: var(--primary-color); 
    text-transform: uppercase;
    font-weight: bold; /* Vetgedrukte tekst */
        @media (min-width: 46em) {
            text-align: center;
            grid-area: text1; /* Positie van een area in de grid */
        }
    }

.title-article {
    grid-area: 1fr;
    text-align: center;
        @media (min-width: 46em) {
            grid-area: text2;
            text-align: left;
            font-family: "Tiempos Headline";
            font-size: var(--font-size-header-xxl);  /* Lettergrootte bepaald door variabel uit de gezamenlijke stylesheet */
            letter-spacing: var(--letter-spacing-s);
            line-height: var(--line-height-xs);
            text-align: center;
    }       
}

h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text_intro {
    display: none;
        @media (min-width: 46em) {
            display: block;
            grid-area: text3;
            font-family: var(--font-default); /* De ondertitel wordt weergegeven in het Inter-lettertype, 16px groot */
            font-size: var(--font-size-intro);  /* Lettergrootte bepaald door variabel uit de gezamenlijke stylesheet */
            text-align: center;
        }        
}

/* .author {
    display: none;
    @media (min-width: 46em) {
        display: block;
        grid-area: text4;
        font-family: var(--font-default);
        font-size: var(--font-size-header-xs);  Lettergrootte bepaald door variabel uit de gezamenlijke stylesheet 
    }
} */

.frontpage-image {
    width: 100%;
    height: auto;
        @media (min-width: 46em) {
        height: auto;
        width: 530px;
        grid-area: img;
    }
}
